/* PremiumAccess.css */
.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f4f6;
  min-height: 100vh;
  padding: 20px;
  margin-right: 100px;
}

.premium-box {
  background-color: #23272b;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 200px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo45 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo45 img {
  width: 90px;
  height: 60px;
  border-radius: 50%;
}

.logo45 a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #363636;
}

.signin-text1 {
  font-size: 18px;
  color:#f1f1f1 ;
}

.signin-link {
  color: yellow;
  font-weight: bold;
  cursor: pointer;
}

.access-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #f1f1f1;
}

.subscribe-btn {
  background-color: yellow;
  color: black;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  border: none;
}

.benefits-box {
  background-color: #f1f1f1;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.benefits-title {
  font-weight: bold;
  font-size: 18px;
}

.benefits-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

.benefits-list li {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.check {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}
