.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 20px auto;
  }
  
  .player {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
    gap: 30px;
    flex: 1; 
    margin-left: 130px;
    margin-top: 220px;
  }
  
  .player1 {
    width: 360px !important; 
    height: 240px !important;
  }
  