.features {
  position:absolute; 
  top: 210px; 
  left: 20px; 
  background: #f1f1f1;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 900; 
}


.features h3 {
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #0e0c0c;
}

.features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.features ul li {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  margin: 10px 0;
  padding: 5px;
  color: #090808;
  transition: all 0.2s ease-in-out;
}

.features ul li:hover {
  background: #424850;
  border-radius: 5px;
  cursor: pointer;
}

.features button{
  border: none;
}

.features .icon {
  font-size: 1rem;
  margin-right: 10px;
}
